/* BUTTON */

.button {
    background-color: var(--button-color);
    color: var(--text-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.473);
    margin-top: 5%;
    margin-bottom: 30%;
    padding: 15px 80px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 300ms ease, border-color 500ms;
    
    &:hover {
        background-color: var(--coments-bg-color);
        border-color: black;
    }
}