/* IMAGES */

.logo {
    width: 100px;
    height: 30px;
}

#logo-margin {
    margin-top: 60%;
    margin-bottom: 10%;
    margin-left: 10%;
}

.bg-images {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profiles-size {
    margin-right: 4%;
    border-radius: 50%;
    width: 30px;
}