* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: var(--bg-color-primary);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    min-height: 100dvh;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
    }
}

a#link__work {
    color: var(--button-color);
    &:hover {
        text-decoration: none;
    }
}
